body {
  background-color:rgb(233, 251, 255);
}

.app {
  width: 30vw;
  margin: 1em auto;
  text-align: center;
}

img {
  width: 25vw;
}

.city-name {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 1rem;
}

.weather-description {
  font-size: 1.3rem;
}

.temperature {
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}

/**===========================================*/
/**               Media Queries               */
/**===========================================*/

/** width 1330 --> 1399*/
@media screen and (max-width: 760px) {
  .app {
    width: 80vw;
  }
  
  img {
    width: 80vw;
  }
}

@media screen and (min-width: 761px) and (max-width: 1400px) {
  .app {
    width: 50vw;
  }
  
  img {
    width: 50vw;
  }
}
